XL_DASHBOARD_PORT=      # 网页访问的端口，默认 2345
XL_DASHBOARD_IP=        # 网页访问的端口，默认 0.0.0.0（代表所有IP）
XL_DASHBOARD_USERNAME=  # 网页访问的用户名
XL_DASHBOARD_PASSWORD=  # 网页访问的密码
XL_DIR_DOWNLOAD=        # 下载保存默认文件夹，默认 /xunlei/downloads，多个文件夹用冒号:分隔
XL_DIR_DATA=            # 程序数据保存文件夹，默认 /xunlei/data
XL_UID=                 # 运行迅雷的用户ID
XL_GID=                 # 运行迅雷的用户组ID
XL_PREVENT_UPDATE=      # 是否阻止更新，默认 true, 可选值 true/false, 1/0
XL_CHROOT=              # 隔离运行主目录, 指定该值且不为`/`则以隔离模式运行, 用于在容器内隔离环境，容器内默认为 /xunlei，隔离模式运行需要特权模式(--privileged)，可以将该值设置为`/`来以非特权模式运行。非特权模式运行有条件，可以尝试失败后使用特权模式重新运行。
XL_DEBUG=               # 调试模式, 可选值 true/false, 1/0

